In [1]:
#Pretty Display of Variables
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#%autoreload

# Import libraries

In [3]:
from plot_projections import plot_all_projections, plot_final_projections, plot_point_for_couple, plot_projection_up_down, plot_border
from prop_info import extreme_points, vect_blade, d_blade, center_prop
from get_segments import blade_alone, get_segments_points, get_planes
from major_axis import get_major_axis
#from projections import couple_all_planes, project_all_couples, projections_by_side, project_couple
from new_projections import assign_points, get_all_points_for_projections, interpolations, find_separation_plane, interpolate_points, model_func, points_from_curve
from parameters import get_hub_points, get_hub_radius
from plot_param import plot_hub
from plot_prop import plot_pointcloud, plot_direction, plot_segments
from myMathFunction import least_squares
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

# Pre-processing

In [4]:
propeller_coords = pd.read_csv('aerostar_data.csv')
propeller_coords.shape

(151986, 3)

In [5]:
propeller_coords = propeller_coords.drop_duplicates(subset=None, keep='first', inplace=False)
propeller_coords = propeller_coords.reset_index(drop=True)

In [6]:
max_point, min_point, middle_point, highest_point, lowest_point = extreme_points(propeller_coords)

vect_length = vect_blade(max_point, min_point) 

dmiddle, dhighest, dlowest = d_blade(vect_length, middle_point, highest_point, lowest_point)

upper_blade, lower_blade = blade_alone(propeller_coords, vect_length, dmiddle)

vect_out, vect_side, hub_inner_radius = get_major_axis(propeller_coords, middle_point, vect_length)

# Projections

In [7]:
nb_seg = 3
resolution = 3

planes = get_planes(upper_blade, dmiddle, dhighest, vect_length, nb_seg)
segments = get_segments_points(upper_blade, planes, nb_seg)
#plot_segments(segments)

up, down = get_all_points_for_projections(planes, segments, nb_seg, resolution)

In [23]:
up1 = up[0]
dn1 = down[0]
plan1 = planes[0]
print(up1.shape)

(322, 3)

In [9]:
# 1. Find border points
up_right_border, up_left_border, _, _, _ = extreme_points(up1)
dn_right_border, dn_left_border, _, _, _ = extreme_points(dn1)
#print("up_right {}\n".format(up_right))

In [10]:
# 2. Find separating plane
C_up = find_separation_plane(up1.values)
C_dn = find_separation_plane(dn1.values)
#print("C_up {}\n".format(C_up))

In [11]:
# 3. Assign point to side  (do it for both sides on both sides)
up_right_points, up_left_points = assign_points(C_up, up1)
dn_right_points, dn_left_points = assign_points(C_dn, dn1)
#print("right_points_up_shape {}\n".format(right_points_up.shape))

In [12]:
################################# TO DO #################################### 
# Add border points to fit
up_right_points.append(pd.DataFrame(up_right_border))
up_right_points.append(pd.DataFrame(up_left_border))
#print("right_points_up_shape {}\n".format(right_points_up.shape))

             X          Y         Z          0
0    23.967234   1.185825  2.112199        NaN
1    23.948896   1.152568  2.071978        NaN
2    23.197441   1.193916  1.993320        NaN
3    22.426720   1.191804  1.884172        NaN
4    21.353088   1.111863  1.669535        NaN
5    21.654364   1.180174  1.785037        NaN
6    21.347897   1.140519  1.710314        NaN
7    24.188095  10.031465 -4.866881        NaN
8    23.597620  10.097153 -4.835836        NaN
9    23.449739  10.168531 -4.885478        NaN
10   22.827068  10.278450 -4.897628        NaN
11   23.457869  10.205330 -4.936645        NaN
12   22.834633  10.315689 -4.948595        NaN
13   23.463509  10.229736 -4.980159        NaN
14   22.839853  10.340455 -4.991983        NaN
15   23.468393  10.249740 -5.025936        NaN
16   22.844349  10.360823 -5.037662        NaN
17   23.472466  10.265077 -5.073542        NaN
18   22.848063  10.376526 -5.085201        NaN
19   23.475677  10.275564 -5.122520        NaN
20   22.850952  10.387378 -5.134143        NaN
21   23.478010  10.281174 -5.172362        NaN
22   22.853003  10.393344 -5.183978        NaN
23   23.479448  10.281889 -5.222554        NaN
24   22.854198  10.394408 -5.234191        NaN
25   23.479975  10.277698 -5.272582        NaN
26   22.854528  10.390552 -5.284270        NaN
27   23.479576  10.268585 -5.321932        NaN
28   22.853977  10.381757 -5.333699        NaN
29   23.477732  10.250057 -5.382650        NaN
..         ...        ...       ...        ...
142  21.843454   9.590623 -4.175288        NaN
143  23.384724  10.065681 -4.777635        NaN
144  21.884434  10.232449 -4.726028        NaN
145  22.973988   3.462342  0.571085        NaN
146  21.485701   3.709617  0.246737        NaN
147  21.407116   2.456339  1.265842        NaN
148  22.990608   3.723466  0.354039        NaN
149  21.518950   4.252408 -0.168215        NaN
150  23.023794   4.250280 -0.074773        NaN
151  21.543953   4.663867 -0.475658        NaN
152  23.048691   4.649264 -0.393041        NaN
153  23.073595   5.050784 -0.709128        NaN
154  21.568995   5.078148 -0.780669        NaN
155  23.147734   6.254824 -1.643843        NaN
156  23.172297   6.655096 -1.954054        NaN
157  23.196800   7.054424 -2.265126        NaN
158  23.217121   7.385294 -2.524861        NaN
159  23.237383   7.714696 -2.785904        NaN
160  21.643684   6.320743 -1.681856        NaN
161  21.668478   6.733627 -1.981062        NaN
162  21.693247   7.145285 -2.281344        NaN
163  21.713816   7.486115 -2.532334        NaN
164  21.734354   7.825147 -2.784890        NaN
165  23.296017   8.662921 -3.556826        NaN
166  23.320290   9.051983 -3.884141        NaN
167  21.793995   8.799020 -3.532975        NaN
168  21.818764   9.197527 -3.851774        NaN
0          NaN        NaN       NaN  21.598198
1          NaN        NaN       NaN  10.601562
2          NaN        NaN       NaN  -5.245696

[172 rows x 4 columns]

             X          Y         Z          0
0    23.967234   1.185825  2.112199        NaN
1    23.948896   1.152568  2.071978        NaN
2    23.197441   1.193916  1.993320        NaN
3    22.426720   1.191804  1.884172        NaN
4    21.353088   1.111863  1.669535        NaN
5    21.654364   1.180174  1.785037        NaN
6    21.347897   1.140519  1.710314        NaN
7    24.188095  10.031465 -4.866881        NaN
8    23.597620  10.097153 -4.835836        NaN
9    23.449739  10.168531 -4.885478        NaN
10   22.827068  10.278450 -4.897628        NaN
11   23.457869  10.205330 -4.936645        NaN
12   22.834633  10.315689 -4.948595        NaN
13   23.463509  10.229736 -4.980159        NaN
14   22.839853  10.340455 -4.991983        NaN
15   23.468393  10.249740 -5.025936        NaN
16   22.844349  10.360823 -5.037662        NaN
17   23.472466  10.265077 -5.073542        NaN
18   22.848063  10.376526 -5.085201        NaN
19   23.475677  10.275564 -5.122520        NaN
20   22.850952  10.387378 -5.134143        NaN
21   23.478010  10.281174 -5.172362        NaN
22   22.853003  10.393344 -5.183978        NaN
23   23.479448  10.281889 -5.222554        NaN
24   22.854198  10.394408 -5.234191        NaN
25   23.479975  10.277698 -5.272582        NaN
26   22.854528  10.390552 -5.284270        NaN
27   23.479576  10.268585 -5.321932        NaN
28   22.853977  10.381757 -5.333699        NaN
29   23.477732  10.250057 -5.382650        NaN
..         ...        ...       ...        ...
142  21.843454   9.590623 -4.175288        NaN
143  23.384724  10.065681 -4.777635        NaN
144  21.884434  10.232449 -4.726028        NaN
145  22.973988   3.462342  0.571085        NaN
146  21.485701   3.709617  0.246737        NaN
147  21.407116   2.456339  1.265842        NaN
148  22.990608   3.723466  0.354039        NaN
149  21.518950   4.252408 -0.168215        NaN
150  23.023794   4.250280 -0.074773        NaN
151  21.543953   4.663867 -0.475658        NaN
152  23.048691   4.649264 -0.393041        NaN
153  23.073595   5.050784 -0.709128        NaN
154  21.568995   5.078148 -0.780669        NaN
155  23.147734   6.254824 -1.643843        NaN
156  23.172297   6.655096 -1.954054        NaN
157  23.196800   7.054424 -2.265126        NaN
158  23.217121   7.385294 -2.524861        NaN
159  23.237383   7.714696 -2.785904        NaN
160  21.643684   6.320743 -1.681856        NaN
161  21.668478   6.733627 -1.981062        NaN
162  21.693247   7.145285 -2.281344        NaN
163  21.713816   7.486115 -2.532334        NaN
164  21.734354   7.825147 -2.784890        NaN
165  23.296017   8.662921 -3.556826        NaN
166  23.320290   9.051983 -3.884141        NaN
167  21.793995   8.799020 -3.532975        NaN
168  21.818764   9.197527 -3.851774        NaN
0          NaN        NaN       NaN  21.382610
1          NaN        NaN       NaN   1.035831
2          NaN        NaN       NaN   1.421657

[172 rows x 4 columns]

In [16]:
# 4. Interpolate points
up_right_popt = interpolate_points(up_right_points)
up_left_popt = interpolate_points(up_left_points)
dn_right_popt = interpolate_points(dn_right_points)
dn_left_popt = interpolate_points(dn_left_points)

In [ ]:
def plot_interpolation(up1, popt):                 # TODO why doesn't work
    fig = plt.figure()
    ax = fig.gca(projection='3d')
    data = np.c_[up1.values[:,0], up1.values[:,1]]
    plt.plot(data, model_func(data, *popt), 'g--')
    plt.show

plot_interpolation(up_right_points, up_right_popt)

In [14]:
nb_points = 100

In [27]:
# 5. Final projection
# Take points on each side
up_right_pts = points_from_curve(up_right_border, up_left_border, nb_points, up_right_popt)  ############# pourquoi *
dn_right_pts = points_from_curve(dn_right_border, dn_left_border, nb_points, dn_right_popt)

up_left_pts = points_from_curve(up_right_border, up_left_border, nb_points, up_left_popt) 
dn_left_pts = points_from_curve(dn_right_border, dn_left_border, nb_points, dn_left_popt)

In [ ]:
# Projection de la ligne reliant 2 points sur le plan
proj_right = []
proj_left = []
for i, _ in enumerate(up_right_pts):
    proj_right.append(point_on_plane(up_right_pts[i], dn_right_pts[i], plan1[0]))
    proj_left.append(point_on_plane(up_left_pts[i], dn_left_pts[i], plan1[0]))

In [ ]:
def store_projections(proj_right, proj_left):
    projections_df = []
    labels = ['X', 'Y', 'Z']
    projections = proj_right.extend(proj_left)
    for i, pt in enumerate(projections):
        projections_df.append( pd.DataFrame(pt, columns = labels) )
    return projections_df

projections_df = store_projections(proj_right, proj_left)

In [ ]:
plot_final_projections(projections_df)

# Find parameters

    - Tip radius 
        Projection dans le sens de la longueur et ... ??
    - Blade twist 
        Project on planes as in projection
        Compute difference of angle between main directions of projections (PCA possible)

### Hub radius

In [ ]:
hub_points = get_hub_points(propeller_coords, dmiddle, vect_length)

hub_outer_radius, hub_inner_radius = get_hub_radius(hub_points, middle_point, vect_side)

hub_radius = hub_outer_radius[2] - middle_point[2]  #from center to exterior radius

In [ ]:
plot_hub(propeller_coords, hub_points, hub_outer_radius, hub_inner_radius)

### Chord length

In [ ]:
chord_length = np.linalg.norm(highest_point - middle_point) - hub_radius
chord_length

### Blade twist

### Tip radius